<h1><%= t "hi" %>, <%= @user.name %></h1>
<p><%= t "you_add_system" %></p>
<p><%= t "here_account" %>: <%= @user.email %></p>
<p><%= t "here_pass" %>: <%= @user.auto_password %></p>
<p><%= link_to t("click_url"), @url %></p>
