<%= simple_form_for @user, url: admins_registers_path, method: :post, remote: true do |f| %>
  <table role="grid" class="table table-bordered table-striped table-vcenter no-footer">
    <tbody>
      <% counter = 1 %>
      <%= f.simple_fields_for :registers do |ff| %>
        <tr>
          <td class="text-center"><%= t "aspiration_#{counter}" %></td>
          <td>
            <%= ff.input :major_id, as: :select, label: false,
              collection: @majors.map { |x| ["#{x.name}-#{x.code}", x.id] }, input_html: {class: "custom-select"} %>
          </td>
        </tr>
        <% counter += 1 %>
      <% end %>
    </tbody>
  </table>
  <div class="row">
    <center>
      <%= f.submit t("change"), class: "btn btn-primary btn-sm" %>
    </center>
  </div>
  <%= hidden_field_tag :id, @user.id %>
<% end %>
<%= javascript_include_tag "custom_select" %>
