<div class="modal-dialog modal-md">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title"><strong><%= @user.name %></strong></h4>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-5">
          <%= image_tag @user.avatar.url, class: "img-rounded col-md-12",
            alt: t("avatar") %>
        </div>

        <div class="col-md-7">
          <ul class="fa-ul">
            <li class="inline-items">
              <i class="fa fa-bookmark fa-li text-warning"></i>
              <strong><%= t "name" %>:</strong>
              <span><%= @user.name %></span>
            </li>

            <li class="inline-items">
              <i class="fa fa-bookmark fa-li text-warning"></i>
              <strong><%= t "birthday" %>:</strong>
              <span><%= @user.birthday %></span>
            </li>

            <li class="inline-items">
              <i class="fa fa-bookmark fa-li text-warning"></i>
              <strong><%= t "email" %>:</strong>
              <span><%= @user.email %></span>
            </li>

            <li class="inline-items">
              <i class="fa fa-bookmark fa-li text-warning"></i>
              <strong><%= t "phone" %>:</strong>
              <span><%= @user.phone %></span>
            </li>

            <li class="inline-items">
              <i class="fa fa-bookmark fa-li text-warning"></i>
              <strong><%= t "address" %>:</strong>
              <span><%= @user.address %></span>
            </li>

            <li class="inline-items">
              <i class="fa fa-bookmark fa-li text-warning"></i>
              <strong><%= t "sex" %>:</strong>
              <span><%= @user.sex %></span>
            </li>

            <li class="inline-items">
              <i class="fa fa-bookmark fa-li text-warning"></i>
              <strong><%= t "people_id" %>:</strong>
              <span><%= @user.people_id %></span>
            </li>

            <li class="inline-items">
              <i class="fa fa-bookmark fa-li text-warning"></i>
              <strong><%= t "nation" %>:</strong>
              <span><%= @user.nation %></span>
            </li>

            <li class="inline-items">
              <i class="fa fa-bookmark fa-li text-warning"></i>
              <strong><%= t "nationality" %>:</strong>
              <span><%= @user.nationality %></span>
            </li>

            <li class="inline-items">
              <i class="fa fa-bookmark fa-li text-warning"></i>
              <strong><%= t "identification_number" %>:</strong>
              <span><%= @user.identification_number %></span>
            </li>

            <li class="inline-items">
              <i class="fa fa-bookmark fa-li text-warning"></i>
              <strong><%= t "religion" %>:</strong>
              <span><%= @user.religion %></span>
            </li>
          </ul>
        </div>
      </div>

      <% if @results.present? %>
        <div class="row">
          <div class="col-md-12">
            <div class="block">
              <div class="block-title">
                <div class="block-options pull-right">
                  <a href="javascript:void(0)" class="btn btn-alt btn-default"
                    data-toggle="tooltip" title="" data-original-title="Edit Widget">
                    <i class="fa fa-pencil"></i>
                  </a>
                </div>
                <h3 class="widget-content-light">
                  <%= t "result" %>
                </h3>
              </div>
              <div class="block-content">
                <div class="row text-center">
                  <%= render partial: "result_user", collection: @results, as: :result %>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>

      <% if @registers.present? %>
        <div class="row">
          <div class="col-md-12">
            <div class="block">
              <div class="block-title">
                <div class="block-options pull-right">
                  <%= link_to edit_admins_register_path(@user), remote: true,
                    class: "btn btn-alt btn-default" do %>
                    <i class="fa fa-pencil"></i>
                  <% end %>
                </div>
                <h3 class="widget-content-light">
                  <%= t "registers" %>
                </h3>
              </div>
              <div class="block-content area-registers">
                <%= render "registers_user" %>
              </div>
            </div>
          </div>
        </div>
      <% elsif @user.student? %>
        <div class="row">
          <div class="col-md-12">
            <div class="block">
              <div class="block-title">
                <div class="block-options pull-right options-add">
                  <%= link_to new_admins_register_path(id: @user), remote: true,
                    class: "btn btn-alt btn-default" do %>
                    <i class="fa fa-plus"></i>
                  <% end %>
                </div>
                <h3 class="widget-content-light">
                  <%= t "registers" %>
                </h3>
              </div>
              <div class="block-content area-registers">
                <p class="text-center text-danger">
                  <i class="fa fa-times"></i>
                  <%= t "not_registers" %>
                </p>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
