<% if current_user.student? && @results_user.present? && @average_results.present? %>
  <div class="row">
    <div class="col-md-3">
      <%= render "result_individual" %>
    </div>

    <div class="col-sm-12 col-md-9 col-lg-9">
      <div class="block full">
        <div class="block-title">
          <div class="block-options pull-right">
            <a href="javascript:void(0)" class="btn btn-alt btn-sm btn-default">
              <i class="fa fa-bar-chart"></i>
            </a>
          </div>
          <h3 class="widget-content-light"><%= t "statistic" %> <strong><%= t "result" %></strong></h3>
        </div>
        <div class="row">
          <div class="col-md-12">
            <h4 class="sub-header">
              <%= t "rank_by" %> <strong><%= t "department" %></strong>
            </h4>
            <div class="widget-extra-full">
              <div class="row text-center">
                <%= render partial: "rank_by_department", collection: @rank_by_departments, as: :rank_by_department %>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <h4 class="sub-header">
              <%= t "statistic_results_by" %> <strong><%= t "department" %></strong>
            </h4>
            <div class="widget-extra-full">
              <div id="chart-average-results">
                <%= render "chart_deparments" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
