<% if current_user.student? && @results_user.present? && @average_marks.present? %>
  <div class="row">
    <div class="col-md-3">
      <%= render "result_individual" %>
    </div>

    <div class="col-sm-12 col-md-9 col-lg-9">
      <div class="block full">
        <div class="block-title">
          <div class="block-options pull-right">
            <%= link_to departments_path, remote: true, class: "btn btn-alt btn-sm btn-default" do %>
              <i class="fa fa-question"></i>
            <% end %>
          </div>
          <h3 class="widget-content-light"><%= t "statistic" %> <strong><%= t "mark" %></strong></h3>
        </div>
        <div class="row">
          <%= render "search_average" %>
        </div>
        <div id="chart-average-marks">
          <%= render "chart_average_marks" %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<div class="modal fade" id="subject-department" role="dialog" tabindex="-1" aria-hidden="true"></div>
<%= javascript_include_tag "statistic_results" %>
