<tr role="row">
  <td class="text-center"><%= register_counter + 1 %></td>
  <td class="text-center"><%= register.user_name %></td>
  <td class="text-center"><%= register.user_identification_number %></td>
  <td class="text-center"><%= register.mark %></td>
  <td class="text-center"><%= register.department_name %></td>
  <td class="text-center"><%= t "#{register.aspiration}" %></td>
</tr>
